/* require for google Maps API */
#map {
   height: 50vw;
   width: 100%;
}

select {
   text-align-last: center;
}

html { overflow-y: hidden; }

@media screen and (max-width: 992px) {
   html {
      overflow-y: visible;
   }
}